<template>
  <canvas class="chart__canvas" ref="canvasElement" width="400" height="200"></canvas>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, toRefs, watch } from 'vue'
import { Chart, LineController, LineElement, PointElement, LinearScale, CategoryScale } from 'chart.js'

export default defineComponent({
  name: 'AppChart',
  props: {
    speedData: {
      type: Array as () => number[],
      required: true
    }
  },
  setup(props) {
    const canvasElement = ref<null | HTMLCanvasElement>(null)
    const canvasContext = ref<null | CanvasRenderingContext2D>(null)
    const chart = ref<any | null>(null)

    const updateSpeed = () => {
      chart.value.data.datasets.forEach((dataset: any) => {
        console.log(dataset)
        // dataset.data = props.speedData
      })
      chart.value.update()
    }

    const { speedData } = toRefs(props)
    watch(speedData, () => {
      updateSpeed()
    })


    const labels = ['1', '2', '3', '4', '5', '6', '7']
    const data = {
      labels: labels,
      datasets: [
        {
          label: 'Скорость',
          data: speedData.value,
          fill: false,
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1
        },
        {
          label: 'My Second Dataset',
          data: [23, 30, 40, 50, 40, 70, 50],
          fill: false,
          borderColor: 'rgba(244, 49, 27, 1)',
          tension: 0.1
        },
        {
          label: 'My Dataset',
          data: [10, 10, 30, 40, 20, 50, 30],
          fill: false,
          borderColor: 'rgba(5, 255, 0, 1)',
          tension: 0.1
        }
      ]
    }

    onMounted(() => {
      Chart.register(LineController, LineElement, PointElement, LinearScale, CategoryScale);
      if (canvasElement.value !== null) {
        canvasContext.value = canvasElement.value.getContext('2d')
      }

      if (canvasContext.value !== null) {
        chart.value = new Chart(canvasContext.value, {
          type: 'line',
          options: {
            scales: {
              x: {
                display: false,
              },
              y: {
                suggestedMax: 100,
                suggestedMin: 0,
                ticks: {
                  color: 'white',
                  font: {
                    size: 8
                  },
                  callback: function(value) {
                    return value + '%';
                  }
                }
              }
            },
            elements: {
              line: {
                cubicInterpolationMode: 'monotone'
              },
              point:{
                radius: 0
              }
            }
          },
          data: data
        })
      }
    })

    return {
      canvasElement
    }
  }
})
</script>

<style scoped>
.chart__canvas {
  width: 100%;
  height: auto;
}
</style>
