<template>
  <div class="card" @click="selectCamera(cameraId)">
    <div class="card__inner">
      <h2 class="card__title">{{ title }}</h2>
      <div class="card__video">
        <video ref="videoElement" class="card__video-element" autoplay muted loop>
          <source type="video/mp4" src="/videos/original.mp4">
        </video>
      </div>
      <div class="card__chart">
        <app-chart :speed-data="speedChartData"/>
      </div>
      <div class="card__body">
        <div class="card__body-buttons">
          <div class="card__body-button">сп</div>
          <div class="card__body-button card__body-button--is-active">выкл</div>
        </div>
        <div class="card__body-fields">
          <div class="card__body-field">
            <div>Уст</div><div>0</div>
          </div>
          <div class="card__body-field">
            <div>Выс</div><div>300</div>
          </div>
          <div class="card__body-field">
            <div>Изм</div><div>85</div>
          </div>
          <div class="card__body-field">
            <div>Низ</div><div>0</div>
          </div>
          <div class="card__body-field">
            <div>Фактор</div><div>2000</div>
          </div>
        </div>
        <div class="card__body-other">
          <div>
            <div class="card__body-other-label">Уровень</div>
            <div class="card__body-other-label">Воздух</div>
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onBeforeUnmount, onMounted, ref } from 'vue'
import AppChart from './AppChart.vue'
import axios from 'axios'

export default defineComponent({
  name: 'AppCard',
  components: {
    AppChart
  },
  props: {
    title: {
      type: String,
      required: true
    },
    cameraId: {
      type: String,
      required: true
    }
  },
  setup(props, { emit }) {
    const isLoading = ref(false)
    const videoElement = ref<null | HTMLVideoElement>(null)
    const speedChartData = ref([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

    const selectCamera = (camera: string) => {
      emit('select', camera)
    }

    const fetchYolo = async () => {
      try {
        const responseYolo = await axios.get<YoloResponseDto>('models/yolo_v4/' + props.cameraId)
        console.log('yolo_v4', responseYolo)
      } catch (e) {
        console.log(e)
        throw 'Не удалось загрузить yolo'
      }
    }

    const fetchSpeed = async () => {
      try {
        const responseSpeed = await axios.get<SpeedModelResponseDto>('models/speed_model/' + props.cameraId)
        console.log('speed', responseSpeed)
      } catch (e) {
        console.log(e)
        throw 'Не удалось загрузить скорость'
      }
    }

    const openCvModel = ref<OpenCvModel>([])
    const openCvModelFrameCount = computed(() => openCvModel.value.length)
    const fetchOpenCv = async () => {
      try {
        const { data: responseOpenCv } = await axios.request<OpenCvResponseDto>({
          method: 'get',
          url: 'models/open_cv/' +props.cameraId
        })
        console.log('open_cv', responseOpenCv)
        openCvModel.value = responseOpenCv.map(({ magnitudeMean }) => ({ magnitudeMean }))
      } catch (e) {
        console.log(e)
        throw 'Не удалось загрузить open cv'
      }
    }

    const update = (event: any) => {
      const progress = event.target.currentTime / event.target.duration * 100
      const frame = Math.floor(openCvModelFrameCount.value / 100 * progress)
      speedChartData.value.push(openCvModel.value[frame]?.magnitudeMean || 0)
      speedChartData.value.splice(0, 1)
    }

    onMounted(async () => {
      try {
        isLoading.value = true
        // await fetchYolo()
        // await fetchSpeed()
        // await fetchOpenCv()

        if (videoElement.value !== null) {
          videoElement.value.addEventListener('timeupdate', update)
        }
      } catch (e) {
        alert(e)
      } finally {
        isLoading.value = false
      }
    })

    onBeforeUnmount(() => {
      if (videoElement.value !== null) {
        videoElement.value.removeEventListener('timeupdate', update);
      }
    })

    return {
      selectCamera,
      speedChartData,
      videoElement
    }
  }
})
</script>

<style scoped>
.card {
  border-radius: 5px;
  background-color: #2E344C;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  cursor: pointer;

  transition: all 0.35s ease;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.card__title {
  padding: 10px;

  text-align: center;
}

.card__video {
  padding: 0 20px;
  margin-bottom: 10px;
}

.card__video-element {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.card__chart {
  padding: 0 15px 0 5px;
}

.card__body {
  padding: 15px;
}

.card__body-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
  margin-bottom: 8px;
}

.card__body-button {
  padding: 6px;

  border-radius: 5px;
  background-color: #4E5F82;

  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  color: #38424E;
}

.card__body-button--is-active {
  background-color: #1266A1;

  color: #FFF;
}

.card__body-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px 20px;
  padding: 10px 0;
  margin-bottom: 5px;
}

.card__body-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center flex-start;

  font-size: 10px;
}

.card__body-other {
  display: grid;
  grid-template-columns: 74px 1fr;
  grid-gap: 20px;
}

.card__body-other-label {
  display: grid;
  place-content: center;
  padding: 6px;

  font-size: 14px;

  background: #0CA6FF;
  border: 1px solid #0CA6FF;
  border-radius: 3px;
  box-shadow: 0 2px 13px rgba(12, 166, 255, 0.4);
}

.card__body-other-label + .card__body-other-label {
  margin-top: 6px;
}
</style>
