<template>
  <canvas class="chart__canvas" ref="canvasElement" width="400" height="300"></canvas>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from 'vue'
import {
  Chart,
  PointElement,
  CategoryScale,
  BarController,
  BarElement
} from 'chart.js'

type Prop = {
  labels: string[],
  datasets: {
    label: string,
    data: number[],
    backgroundColor: string[],
    borderColor: string[],
    borderWidth: number
  }[]
}

export default defineComponent({
  name: 'BarChart',
  props: {
    data: {
      type: Object as () => Prop,
      required: true
    }
  },
  setup(props) {
    const canvasElement = ref<null | HTMLCanvasElement>(null)
    const canvasContext = ref<null | CanvasRenderingContext2D>(null)
    const chart = ref<any | null>(null)

    onMounted(() => {
      Chart.register(BarController, BarElement, PointElement, CategoryScale);
      if (canvasElement.value !== null) {
        canvasContext.value = canvasElement.value.getContext('2d')
      }

      if (canvasContext.value !== null) {
        chart.value = new Chart(canvasContext.value, {
          type: 'bar',
          options: {
            scales: {
              y: {
                suggestedMax: 20,
                suggestedMin: 0,
                beginAtZero: true
              }
            }
          },
          data: props.data
        })
      }
    })

    return {
      canvasElement
    }
  }
})
</script>

<style scoped>
.chart__canvas {
  width: 100%;
  height: auto;
}
</style>
