<template>
  <canvas class="chart__canvas" ref="canvasElement" width="400" height="300"></canvas>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from 'vue'
import {
  Chart,
  LineController,
  LineElement,
  PointElement,
  LinearScale,
  CategoryScale
} from 'chart.js'

type Prop = {
  labels: string[],
  datasets: {
    label: string,
    data: number[],
    fill: boolean,
    borderColor: string,
    tension: number
  }[]
}

export default defineComponent({
  name: 'LineChart',
  props: {
    data: {
      type: Object as () => Prop,
      required: true
    }
  },
  setup(props) {
    const canvasElement = ref<null | HTMLCanvasElement>(null)
    const canvasContext = ref<null | CanvasRenderingContext2D>(null)
    const chart = ref<any | null>(null)

    onMounted(() => {
      Chart.register(LineController, LineElement, PointElement, LinearScale, CategoryScale);
      if (canvasElement.value !== null) {
        canvasContext.value = canvasElement.value.getContext('2d')
      }

      if (canvasContext.value !== null) {
        chart.value = new Chart(canvasContext.value, {
          type: 'line',
          options: {
            scales: {
              x: {
                display: false,
              },
              y: {
                suggestedMax: 100,
                suggestedMin: 0,
                ticks: {
                  color: 'white',
                  font: {
                    size: 8
                  },
                  callback: function(value) {
                    return value + '%';
                  }
                },
                grid: {
                  drawBorder: false,
                  color: 'rgba(33, 37, 51, 1)'
                }
              }
            },
            elements: {
              line: {
                cubicInterpolationMode: 'monotone'
              },
              point:{
                radius: 0
              }
            }
          },
          data: props.data
        })
      }
    })

    return {
      canvasElement
    }
  }
})
</script>

<style scoped>
.chart__canvas {
  width: 100%;
  height: auto;
}
</style>
