<template>
  <div class="side-info">
    <button class="side-info__button" type="button">Выбрать</button>
    <div class="side-info__card">
      <div class="side-info__card-title">T№3.10</div>
      <div class="side-info__card-field">
        <div>Cu</div><b>2.82 %</b>
        <div>Ni</div><b>1.96 %</b>
      </div>
    </div>
    <div class="side-info__card">
      <div class="side-info__card-title">T№3.10</div>
      <div class="side-info__card-field">
        <div>Cu</div><b>2.82 %</b>
        <div>Ni</div><b>1.96 %</b>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'SideInfo'
})
</script>

<style scoped>
.side-info {

}

.side-info__card-title {
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  color: #4E5F82;
}

.side-info__button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #FFF;

  background: #0CA6FF;
  border: 1px solid #0CA6FF;
  border-radius: 5px;
  box-shadow: 0 2px 13px rgba(12, 166, 255, 0.4);
}

.side-info__card {
  padding: 6px;

  border-radius: 5px;
  background: #212533;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.side-info__card + .side-info__card {
  margin-top: 8px;
}

.side-info__card-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  place-content: center;
  text-align: center;
}
</style>
