<template>
  <div class="side-list">
    <button
        class="side-list__button"
        @click="selectCamera(null)"
    >Назад</button>
    <button
      v-for="(cam, index) in camList"
      class="side-list__button"
      :class="{'side-list__button--is-active': selectedCamId === cam}"
      @click="selectCamera(cam)"
    >Установка {{ index + 1 }}</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'SideList',
  props: {
    camList: {
      type: Array as () => CamList,
      default: []
    },
    selectedCamId: String
  },
  setup(props, { emit }) {
    const selectCamera = (camera: string | null) => {
      emit('select', camera)
    }

    return {
      selectCamera
    }
  }
})
</script>

<style scoped>
.side-list__button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #FFF;

  cursor: pointer;
  background-color: #212533;
  border-radius: 5px;
  border: none;

  transition: all 0.35s ease;
}

.side-list__button:hover,
.side-list__button.side-list__button--is-active {
  background-color: #0CA6FF;
  box-shadow: 0 2px 13px rgba(12, 166, 255, 0.4);
}

.side-list__button + .side-list__button {
  margin-top: 10px;
}
</style>
