<template>
  <div class="app">
    <div class="app__side">
      <div class="app__side-logo">
        <img src="/src/assets/logo.svg" alt="Норникель">
      </div>
      <template v-if="selectedCameraId === null">
        <div class="app__side-info">
          <side-info/>
        </div>
        <div class="app__side-info">
          <side-info/>
        </div>
      </template>
      <div v-else class="app__side-info">
        <side-list :cam-list="camList" :selected-cam-id="selectedCameraId" @select="selectCamera"/>
      </div>
    </div>
    <div class="app__main">
      <the-dashboard v-if="selectedCameraId === null" :cam-list="camList" @select="selectCamera"/>
      <the-single v-else :camera-id="selectedCameraId"/>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue'
import axios from 'axios'
import TheDashboard from './components/pages/TheDashboard.vue'
import SideInfo from './components/views/SideInfo.vue'
import SideList from './components/views/SideList.vue'
import TheSingle from './components/pages/TheSingle.vue'

export default defineComponent({
  name: 'App',
  components: {
    TheSingle,
    SideList,
    SideInfo,
    TheDashboard
  },
  setup() {
    const camList = ref<CamList>([
      'Установка 1',
      'Установка 2',
      'Установка 3',
      'Установка 4',
      'Установка 5',
      'Установка 6',
      'Установка 7',
      'Установка 8'
    ])

    const fetchCamList = async () => {
      try {
        const { data: responseCamList } = await axios.request<CamListResponseDto>({method: 'GET', url: 'info/camList'})
        camList.value = responseCamList
      } catch (e) {
        console.log(e)
        throw 'Не удалось получить список камер'
      }
    }

    onMounted(async () => {
      // try {
      //   await fetchCamList()
      // } catch (e) {
      //   alert(e)
      // }
    })

    const selectedCameraId = ref<string | null>(null)
    const selectCamera = (cameraId: string | null) => {
      selectedCameraId.value = cameraId
    }

    return {
      camList,
      selectedCameraId,
      selectCamera
    }
  }
})
</script>

<style>
.app {
  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: 280px 1fr;
  width: 100%;
  height: 100%;

  color: #FFF;
}

.app__side {
  background-color: #0F1117;

  overflow: auto;
  padding-bottom: 40px;
}

.app__side-info {
  padding: 20px;
}

.app__side-logo {
  display: grid;
  place-content: center;
  padding: 24px;
}

.app__main {
  padding: 40px 20px;

  overflow: auto;
}
</style>
