<template>
  <div class="dashboard">
    <h2 class="dashboard__title">Система контроля установок</h2>
    <div class="dashboard__grid">
      <template v-for="(cam, index) in camList">
        <app-card :title="`Установка ${index + 1}`" :camera-id="cam" @select="selectCamera"/>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import AppCard from '../views/AppCard.vue'

export default defineComponent({
  name: 'TheDashboard',
  components: {
    AppCard
  },
  props: {
    camList: {
      type: Array as () => CamList,
      default: []
    }
  },
  setup(props, { emit }) {
    const selectCamera = (cameraId: string) => {
      emit('select', cameraId)
    }

    return {
      selectCamera
    }
  }
})
</script>

<style scoped>
.dashboard__title {
  font-size: 28px;
  margin-bottom: 40px;
}

.dashboard__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  max-width: 1120px;
}
</style>
