<template>
  <div class="single">
    <h2 class="single__title">{{ cameraId }}</h2>
    <div class="single__video-grid">
      <div class="single__video-card">
        <div class="single__video-card-title">Видео с установки</div>
        <video class="single__video-element" autoplay muted loop>
          <source type="video/mp4" src="/videos/original.mp4">
        </video>
      </div>
      <div class="single__video-card">
        <div class="single__video-card-title">Видео с маской скорости</div>
        <video class="single__video-element" autoplay muted loop>
          <source type="video/mp4" src="/videos/green.mp4">
        </video>
      </div>
      <div class="single__video-card">
        <div class="single__video-card-title">Видео с размером пузырьков</div>
        <video class="single__video-element" autoplay muted loop>
          <source type="video/mp4" src="/videos/output.mp4">
        </video>
      </div>
    </div>

    <div class="single__chart-grid">
      <div class="single__chart-card">
        <div class="single__chart-card-title">График скорости пены</div>
        <div class="single__chart-card-container">
          <line-chart :data="data[0]"/>
        </div>
      </div>
      <div class="single__chart-card">
        <div class="single__chart-card-title">График размера пузырьков</div>
        <div class="single__chart-card-container">
          <line-chart :data="data[1]"/>
        </div>
      </div>
      <div class="single__chart-card">
        <div class="single__chart-card-title">График стабильности работы установки</div>
        <div class="single__chart-card-container">
          <line-chart :data="data[2]"/>
        </div>
      </div>
      <div class="single__chart-card">
        <div class="single__chart-card-title">Распределение пузырьков по&nbsp;размеру</div>
        <div class="single__chart-card-container">
          <bar-chart :data="barData"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import LineChart from '../views/LineChart.vue'
import BarChart from '../views/BarChart.vue'

export default defineComponent({
  name: 'TheSingle',
  components: {BarChart, LineChart},
  props: {
    cameraId: String
  },
  setup() {
    const labels = ['1', '2', '3', '4', '5', '6', '7']
    const data = [
      {
        labels: labels,
        datasets: [
          {
            label: 'My First Dataset',
            data: [65, 59, 80, 81, 56, 55, 40],
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
          }
        ]
      },
      {
        labels: labels,
        datasets: [
          {
            label: 'My Second Dataset',
            data: [43, 30, 40, 50, 40, 70, 50],
            fill: false,
            borderColor: 'rgba(244, 49, 27, 1)',
            tension: 0.1
          }
        ]
      },
      {
        labels: labels,
        datasets: [
          {
            label: 'My Dataset',
            data: [30, 45, 30, 40, 30, 50, 35],
            fill: false,
            borderColor: 'rgba(5, 255, 0, 1)',
            tension: 0.1
          }
        ]
      }
    ]

    const barData = {
      labels: labels,
      datasets: [{
        label: 'My First Dataset',
        data: [5, 10, 15, 20, 15, 10, 5],
        backgroundColor: [
          'rgba(12, 166, 255, 1)',
          'rgba(12, 166, 255, 1)',
          'rgba(12, 166, 255, 1)',
          'rgba(12, 166, 255, 1)',
          'rgba(12, 166, 255, 1)',
          'rgba(12, 166, 255, 1)',
          'rgba(12, 166, 255, 1)'
        ],
        borderColor: [
          'rgba(12, 166, 255, 1)',
          'rgba(12, 166, 255, 1)',
          'rgba(12, 166, 255, 1)',
          'rgba(12, 166, 255, 1)',
          'rgba(12, 166, 255, 1)',
          'rgba(12, 166, 255, 1)',
          'rgba(12, 166, 255, 1)'
        ],
        borderWidth: 1
      }]
    }

    return {
      data,
      barData
    }
  }
})
</script>

<style scoped>
.single__title {
  font-size: 28px;
  margin-bottom: 40px;
}

.single__video-grid {
  width: 100%;
  max-width: 1120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 40px;
}


.single__video-card {
  padding: 20px;
  overflow: hidden;

  border-radius: 5px;
  background-color: #2E344C;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.single__video-card-title {
  text-align: center;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 24px;
}

.single__video-element {
  display: block;
  max-width: 100%;
}

.single__chart-grid {
  width: 100%;
  max-width: 1120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 40px;
}

.single__chart-card {
  overflow: hidden;

  border-radius: 5px;
  background-color: #2E344C;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.single__chart-card-title {
  display: grid;
  place-content: center flex-start;
  height: 70px;
  padding: 0 15px;

  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.36px;
}

.single__chart-card-container {
  padding: 10px;
  background-color: #000;
}
</style>
